<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Philly ForagR</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script rel="text/javasctipt" src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div class="main-wrapper container">
                <div class="row-fluid">
                     <div class="span12 app-header">
                         <div class="span5 offset4 header-logo header-text"><h1><a href="/"><img src="/static/css/images/logo.png" alt="Philly Foragr logo"></a></div>
                    </div>
                </div>
     
                {% block page_content %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="footer-content">
                <ul class="unstyled"> 
                    <li>PhillyForagR is a <a href="http://www.rhok.org/" target="_blank">Random Hacks of Kindness</a> invention. </li>
                    <li>This application is made possible by the <a href="http://phillysnap.com/" target="_blank">PhillySNAP API</a> and the <a href="http://www.yummly.com/" target="_blank">Yummly API.</a></li>
                    <li>Follow us on <a href="https://twitter.com/PhillyForagr" target="_blank">Twitter</a> and <a href="https://www.facebook.com/PhillyForagr" target="_blank">Facebook</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>



