<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Philly ForagR</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script rel="text/javasctipt" src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div class="main-wrapper container">
                <div class="row-fluid">
                     <div class="span12 app-header">
                         <div class="span5 offset4 header-logo header-text"><h1><a href="/"><img src="/static/css/images/logo.png" alt="Philly Foragr logo"></a></div>
                    </div>
                </div>
     
                {% block page_content %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="footer-content">
                <ul class="unstyled"> 
                    <li>PhillyForagR is a <a href="http://www.rhok.org/" target="_blank">Random Hacks of Kindness</a> invention. This application is made possible by the <a href="http://phillysnap.com/" target="_blank">PhillySNAP API</a> and the <a href="http://www.yummly.com/" target="_blank">Yummly API. </a></li>
                    <li><a href="#myModal" role="button" data-toggle="modal"</a>Read more about our project</a></li>
                        <li><a href="https://twitter.com/PhillyForagr" target="_blank" class="footer-icon"><img src="/static/css/images/foragr_twitter.png"></a>
                            <a href="https://github.com/staterepme/phillyphoodaccess" target="_blank" class="footer-icon"><img src="/static/css/images/foragr_github.png"></a> or <a href="https://www.facebook.com/PhillyForagr" target="_blank">Like us on Facebook!</a></li>
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">About The Project</h3>
            </div>
            <div class="modal-body">
                <h3>The Problem</h3>
                <p>Obesity and obesity-related diseases and health care costs are a growing problem. The adult obesity rate in Philadelphia is 32.2%; among African Americans, it's 38.4%. Studies show limited access to healthy food choices and lack of exercise are contributing factors to the obesity crisis.</p>
                <h3>The Solution</h3>
                <p>Philly Foragr is a web-based app that promotes healthy living and well-being. Building on the Philly SNAP API developed at RHoK, we are adding public transit directions to supermarkets, grocery stores, etc. We will provide recipes to help make the healthy choice an easy choice. Since exercise is a solution to the obesity crisis, we are providing walking directions with information about historic markers, murals and other places of interest along the way.</p>

                <h3>Created by:</h3>
                <ul class="unstyled">
                    <li>Chris Brown</li>
                    <li>Andrew Thompson</li>
                    <li>Jason Blanchard</li>
                    <li>Christopher Nies</li>
                    <li>Lauren Gilchrist</li>
                    <li>Faye Anderson</li>
                    <li>Max Freilich</li>
                    <li>Brian Cohen</li>
                </ul>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </body>
</html>



