{% extends "base.html" %}

{% block page_content %}

<h2>Directions Results</h2>

<button id="locationsButton">Back to Locations</button>

<script type="text/javascript">
var snapDataString = '{{ phillysnap_results|safe }}';
</script>

<script type="text/javascript">
var myOrigin = '{{ origin_geocode|safe}}'
</script>

<div id="map" style="width: 750px; height: 300px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../../static/directions.js"></script>

<ul id="snaplist"></ul>

{% endblock %}
