{% extends "base.html" %}

{% block page_content %}

<div class="span6 offset3">
    <button class="btn" id="locationsButton">Back to Locations</button>
    <br />
    <br />
</div>

<script type="text/javascript">
var snapDataString = '{{ phillysnap_results|safe }}';
</script>

<script type="text/javascript">
var myOrigin = '{{ origin_geocode|safe}}'
</script>

<div id="map" class="span6 offset3" ></div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../../static/directions.js"></script>

<div class="span6 offset3">
    <ul id="snaplist" class="unstyled"></ul>
</div>

{% endblock %}
