{% extends "base.html" %}

{% block page_content %}

<h2>Directions Results</h2>

{% comment %}
{% autoescape off %}
{{ phillysnap_results }}
{% endautoescape %}

Or Max can do
{% endcomment %}
{{ phillysnap_results|safe }}

<h2>origin point</h2>

{{ origin_geocode }}

<div id="map" style="width: 750px; height: 300px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../../static/directions.js"></script>

<!-- CHANGE THIS -->
<ul>
{% for item in locations %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

{% endblock %}
