{% extends "base.html" %}

{% block page_content %}

<div class="row-fluid">
    <div class="span6 home-panel">
        <h3>Buy Some Food</h3>
        <div class="home-instructions"><p>Enter your address to find groceries near you:</p></div>
        <form>
            <div class="home-form-field"><input type="text" class="input-block-level" placeholder="i.e. 1 Penn Square Philadelphia, PA 19107"></input></div>
            <button type="submit" class="btn btn-large btn-primary btn-block">Let's Go Shopping!</button>
        </form>
            

    </div>
    <div class="span6 home-panel">
        <h3>Make Some Food</h3>
        <form>
            <div class="home-instructions"><p>Enter the ingredients you have to find a delicious meal:</p></div>
            <div class="home-form-field"><textarea class="input-block-level" rows="3" placeholder="Milk, eggs, chicken, etc."></textarea></div>
            <button type="submit" class="btn btn-large btn-primary btn-block">What's for dinner?</button>
        </form>
    </div>
</div>


{% endblock %}

