.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.app-header {
    text-align: center;
    margin-top: 20px;
    height: 100px;
}

table.recipes {
    width: 300px;
    margin: 0 auto;
}

h1.recipes {
    text-align: center;
}