.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.app-header {
    text-align: center;
    margin-top: 20px;
    height: 100px;
}

.home-panel {
    text-align: center;
    border: 1px solid #E4E4E4;
    height: 300px;
    border-radius: 3px;
}
